<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../fontawesome/css/all.min.css" />
    <title>About</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="container">
      <div class="nav">
        <div class="logo">
          <h1>NILE</h1>
        </div>
        <div class="links">
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../pages/shop.html">Shop</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/login.html">Login</a></li>
          </ul>
        </div>
        <div class="icons">
          <a href="./card.html"><i class="fa-solid fa-cart-plus"></i></a>
          <a href="">
            <i class="fa-regular fa-user"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Navbar -->
    <!-- Landding -->
    <div class="about">
      <div class="container">
        <div class="about-items">
          <div class="about-text">
            <h1>About Us</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="about-img">
            <img src="../imgs/about-hero.svg" />
          </div>
        </div>
      </div>
    </div>
    <!-- Landding -->
    <!-- Services -->
    <div class="services">
      <div class="heading">
        <h1>Our Services</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div class="container">
        <div class="services-container">
          <div class="single-service">
            <div>
              <i class="fa fa-truck"></i>
              <h4>Delivery Services</h4>
            </div>
          </div>
          <div class="single-service">
            <div>
              <i class="fas fa-exchange-alt"></i>
              <h4>Shipping & Return</h4>
            </div>
          </div>
          <div class="single-service">
            <div>
              <i class="fa fa-percent"></i>
              <h4>Promotion</h4>
            </div>
          </div>
          <div class="single-service">
            <div>
              <i class="fa fa-user"></i>
              <h4>24 Hours Service</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services -->
    <!-- Brands -->
    <!-- Brands -->
    <div class="brands">
      <div class="heading">
        <h1>Our Brands</h1>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="brands-container">
        <img src="../imgs/brand_01.png" alt="" />
        <img src="../imgs/brand_02.png" alt="" />
        <img src="../imgs/brand_03.png" alt="" />
        <img src="../imgs/brand_04.png" alt="" />
      </div>
    </div>
    <!-- Brands -->
    <!-- Brands -->
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-column">
          <h1>Nile Shop</h1>
          <p>
            <i class="fas fa-map-marker-alt"></i> 123 Consectetur at ligula
            10660
          </p>
          <p><i class="fas fa-phone-alt"></i> 010-020-0340</p>
          <p><i class="fas fa-envelope"></i> info@bashry.com</p>
        </div>
        <div class="footer-column">
          <h3>Products</h3>
          <ul>
            <li><a href="#">Luxury</a></li>
            <li><a href="#">Sport Wear</a></li>
            <li><a href="#">Men's Shoes</a></li>
            <li><a href="#">Women's Shoes</a></li>
            <li><a href="#">Popular Dress</a></li>
            <li><a href="#">Gym Accessories</a></li>
            <li><a href="#">Sport Shoes</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Further Info</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop Locations</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Subscribe</h3>
          <form action="#">
            <input type="email" placeholder="Email address" required />
            <button type="submit">Subscribe</button>
          </form>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-text">
        <p>
          Copyright &copy; 2024 | Created With
          <i class="fa-solid fa-heart"></i> By OMER BASHRY && AYMAN SALAH
        </p>
      </div>
    </footer>
    <!-- Footer  -->
  </body>
</html>
