<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../fontawesome/css/all.min.css" />
    <title>Shop</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="container">
      <div class="nav">
        <div class="logo">
          <h1>NILE</h1>
        </div>
        <div class="links">
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../pages/shop.html">Shop</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/login.html">Login</a></li>
          </ul>
        </div>
        <div class="icons">
          <a href="/view/pages/card.html"
            ><i class="fa-solid fa-cart-plus"></i
          ></a>
          <a href="">
            <i class="fa-regular fa-user"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Navbar -->
    <!-- Featured -->
    <div class="featured">
      <div class="allProducts">
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_02.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
              <p class="product-price">$480.00</p>
            </div>
            <h3 class="product-name">Apple Watch</h3>
            <p class="product-description">
              Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae
              pharetra sed, commodo ullamcorper.
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_01.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
              <p class="product-price">$240.00</p>
            </div>
            <h3 class="product-name">Lighter</h3>
            <p class="product-description">
              A prefict lighter to guid you to your distination in the dark
              nights with out getting lost
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_03.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
              </div>
              <p class="product-price">$360.00</p>
            </div>
            <h3 class="product-name">Canon Camera</h3>
            <p class="product-description">
              Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar
              sagittis diam, et scelerisque ipsum lobortis nec.
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <!-- ppp -->
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_03.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
              </div>
              <p class="product-price">$360.00</p>
            </div>
            <h3 class="product-name">Canon Camera</h3>
            <p class="product-description">
              Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar
              sagittis diam, et scelerisque ipsum lobortis nec.
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_01.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
              <p class="product-price">$240.00</p>
            </div>
            <h3 class="product-name">Lighter</h3>
            <p class="product-description">
              A prefict lighter to guid you to your distination in the dark
              nights with out getting lost
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_02.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
              <p class="product-price">$480.00</p>
            </div>
            <h3 class="product-name">Apple Watch</h3>
            <p class="product-description">
              Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae
              pharetra sed, commodo ullamcorper.
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_02.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
              <p class="product-price">$480.00</p>
            </div>
            <h3 class="product-name">Apple Watch</h3>
            <p class="product-description">
              Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae
              pharetra sed, commodo ullamcorper.
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_01.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
                <span><i class="fa-regular fa-star"></i></span>
              </div>
              <p class="product-price">$240.00</p>
            </div>
            <h3 class="product-name">Lighter</h3>
            <p class="product-description">
              A prefict lighter to guid you to your distination in the dark
              nights with out getting lost
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
        <div class="product-card-featured">
          <img
            src="/view/imgs/feature_prod_03.jpg"
            class="product-image-featured"
          />
          <div class="product-info">
            <div class="rating-and-price">
              <div class="product-rating">
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
                <span><i class="fa-solid fa-star"></i></span>
              </div>
              <p class="product-price">$360.00</p>
            </div>
            <h3 class="product-name">Canon Camera</h3>
            <p class="product-description">
              Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar
              sagittis diam, et scelerisque ipsum lobortis nec.
            </p>
            <div>
              <button class="buy-btn shop">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured -->
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-column">
          <h1>Nile Shop</h1>
          <p>
            <i class="fas fa-map-marker-alt"></i> 123 Consectetur at ligula
            10660
          </p>
          <p><i class="fas fa-phone-alt"></i> 010-020-0340</p>
          <p><i class="fas fa-envelope"></i> info@bashry.com</p>
        </div>
        <div class="footer-column">
          <h3>Products</h3>
          <ul>
            <li><a href="#">Luxury</a></li>
            <li><a href="#">Sport Wear</a></li>
            <li><a href="#">Men's Shoes</a></li>
            <li><a href="#">Women's Shoes</a></li>
            <li><a href="#">Popular Dress</a></li>
            <li><a href="#">Gym Accessories</a></li>
            <li><a href="#">Sport Shoes</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Further Info</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop Locations</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Subscribe</h3>
          <form action="#">
            <input type="email" placeholder="Email address" required />
            <button type="submit">Subscribe</button>
          </form>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-text">
        <p>
          Copyright &copy; 2024 | Created With
          <i class="fa-solid fa-heart"></i> By OMER BASHRY && AYMAN SALAH
        </p>
      </div>
    </footer>
    <!-- Footer  -->
  </body>
</html>
